body{
	background-image:url('Images/nyc_sunset.JPG'); 
	background-repeat: no-repeat;
	background-size: 100%;
	color:white;
}
ul{
	list-style: none;
	display: inline-block;
}
li{
	display: inline-block;
}
img{
	display:inline-block;
	max-height: 250px;
	max-width: 250px; 
}
.navbar{
	display: block;
	margin: 0 auto;
}
.tAc{
	text-align: center;
}