body{
	background-image:url('Images/nyc_sunset.JPG'); 
	background-repeat: no-repeat;
	background-size: 100%;
	color:white;
	margin-right: 0;
	margin-left: 0;
}
ul{
	list-style: none;
	display: inline-block;
}
li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	padding: 0 5px;

}
img{
	display:inline-block;
	max-height: 250px;
	max-width: 250px; 
	vertical-align: middle;
}
.navbar{
	display: block;
	margin: 0 auto;
	font-family: 'Covered By Your Grace', cursive;
}
.tAc{
	text-align: center;
}
p{
	font-family: 'Covered By Your Grace', cursive;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	height: 30px;
	position: fixed;
	width: 100%;

}

/*Custom Classes*/
.left{
	float: left;
}
.right{
	float: right;
}